#header {
	text-align: center;
	border: 8px dashed #75a197;
	border-radius: 100px;
	color: #ed2474;
	background-color: #dabfe0;
	position: sticky;
	left: 0;
	top: 0;	
	text-shadow: 2px 2px 5px orange;
	font-size: 18px;
}

#headimg{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
	border: 1px solid red;
	border-radius: 50%;
	cursor: pointer;
	animation: mymove 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 3;
}

@keyframes mymove {
	from {left: 0px;}
	to  {left: 1218px;}
}

h2{
	color: #fbe90d;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-decoration: underline;
	margin: 20px;
	padding: 10px;
	text-align: justify;
	text-indent: 25px;
	text-shadow: 2px 2px 3px #4B0082;
}

h3{
	font-weight: bolder;
	color: #eaa10d;
	font-family:'Josefin Sans', sans-serif;
	font-size: 22px;
	text-decoration: underline;
	margin: 10px;
	padding-left: 10px;
	text-align: justify;
	text-indent: 25px;
	text-shadow: 2px 2px 3px black;
}
p{
	font-size: 25px;
	text-indent: 25px;
	margin: -10px 0px 0px 15px;
	padding: 4px;
	text-align: justify; 
	color: white;
	text-shadow: 2px 2px 3px black;
}
ul{
	font-size: 25px;
	text-align: justify;
	margin: -2px
	padding:5px;
	text-indent: 25px;
	color: #7FFF00;
}

h4{
	font-weight: bolder;
	color: #baa822;
	font-family:'Josefin Sans', sans-serif;
	font-size: 30px;
	text-decoration: underline;
	margin: 10px;
	padding: 15px;
	text-align: center;
	text-shadow: 2px 2px 3px black;
}
div.gallery{
	margin: 5px 40px;
	padding: 0px 0px 0px 30px;
	float: left;
	width: 150px;
	text-decoration: none;
	opacity: 0.5;
}

div.gallery:hover{
	opacity: 1;	
	transition: 1s;
}

div.gallery img{
	height: auto;
	width: 100%;
}

#vid{
	text-align: center;
	height: auto;
	width: 100%;
}

footer{
	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 100%;
  	background-color: #65564ef5;
  	color: white;
  	text-align: center;
}
